.content:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;
  --x-offset: 3;
  --y-offset: 3;
}

.content {
  display: flexbox;
  align-content: center;
  justify-content: center;
  color: var(--color-primary);
}

.textShadows {
  text-shadow:
    1px * var(--x-offset) 3px 0 var(--color-secondary),
    6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary),
    12px 12px 0 var(--color-quinary);
  /* text-shadow: calc(1px*var(--x-offset)) calc(1px*var(--y-offset)) 0 var(--color-secondary), 
              calc(2px*var(--x-offset)) calc(2px*var(--y-offset)) 0 var(--color-tertiary),
              calc(3px*var(--x-offset)) calc(3px*var(--y-offset)) 0 var(--color-quaternary), 
              calc(4px*var(--x-offset)) calc(4px*var(--y-offset)) 0 var(--color-quinary); */
  transform: translate(-12px, -12px);
  font-family: sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  /* animation: shadows 2s ; */
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow:
      3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow:
      3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow:
      3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow:
      3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow:
      3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary),
      9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  100% {
    text-shadow:
      calc(1 * var(--x-offset)) calc(1 * var(--y-offset)) 0
        var(--color-secondary),
      calc(2 * var(--x-offset)) calc(2 * var(--y-offset)) 0
        var(--color-tertiary),
      calc(3 * var(--x-offset)) calc(3 * var(--y-offset)) 0
        var(--color-quaternary),
      calc(4 * var(--x-offset)) calc(4 * var(--y-offset)) 0 var(--color-quinary);
  }
}

/* @keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    transform: translate(-3px, -3px);
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    transform: translate(-6px, -6px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    transform: translate(-9px, -9px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    transform: translate(-12px, -12px);
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  } 
  100% {
    text-shadow: none;
  } 
} */

/*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
*/
