.button {
    background-color: #000;
    /* height: max(15vw, 2em); */
    height: 5em;
    /* flex-basis: 40% ; */
    /* min-width: 8em; */
    width: 40%;
    margin: 3vw;

    color: #fff;
    text-align: center;
    font-family: Superior Title;
    font-size: 2rem;
    font-style: italic;
    font-weight: 800;
    line-height: normal;
    border-radius: 2.5rem;
    box-shadow: 5px 4px 21px 5px #505050;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button a {
    color: #fff;
    text-decoration: none;
    cursor: grab;
}

.button a:hover {
    cursor: grab;
}

.underline {
    bottom: 0;
    left: 0;
    height: 3px;
    background-color: #fff;
}