.card {
    display: flex;
    width: 45.0625rem;
    height: 47.3125rem;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;

    border-radius: 2.5rem;
    background: #FFF;

    /* My Drop Shadow */
    box-shadow: 0px 25px 40px 0px rgba(0, 0, 0, 0.50);
    overflow: hidden;
    overflow-y: scroll;
}

.header {
    display: flex;
    width: 45.0625rem;
    height: 5rem;
    padding: 1.3125rem 13.5rem 1.3125rem 13.5625rem;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;

    background: #000;

    /* Drop Shadow */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);    

    color: #FFF;
    text-align: center;
    font-size: 3.125rem;
    font-family: "le-monde-livre-std", serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.07813rem;
}

.body {
    display: flex;
    width: 38.4375rem;
    height: 60%;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: space-around;

    color: #000;
    font-size: 1.2rem;
    font-family: "itc-avant-garde-gothic-pro", sans-serif;
    font-style: normal;
    font-weight: 200;
    line-height: 2rem;
    letter-spacing: 0.04688rem;
    text-indent: 2em;
    margin-top: 2em;
}

.body p {
    margin: 0;
}